# ğŸ“ Colab ì‹¤ìŠµ ë¯¸ì…˜ 1 - Python ê¸°ë³¸ ë¬¸ë²• ìµíˆê¸°

## ğŸ”¹ ë¯¸ì…˜ 1-1: ë³€ìˆ˜ì™€ ìë£Œí˜•

In [ ]:
name = "seram"
age = 23
is_student = True
print(f"{name}ëŠ” {age}ì‚´ì´ê³ , í•™ìƒ ì—¬ë¶€: {is_student}")

## ğŸ”¹ ë¯¸ì…˜ 1-2: ë¦¬ìŠ¤íŠ¸ & ì¡°ê±´ë¬¸

In [ ]:
scores = [85, 90, 78, 92, 70]
for score in scores:
  if score >= 90:
    print("A")
  elif score >= 80:
    print("B")
  else:
    print("C ì´í•˜")

## ğŸ”¹ ë¯¸ì…˜ 1-3: í•¨ìˆ˜ ë§Œë“¤ê¸°

In [ ]:
def greet(name):
  return f"ì•ˆë…•, {name}!"

print(greet("ìƒˆëŒ"))